<div class="row">
    <div class="col-md-6">
        <div class="column">
            <div class="card">
                <img src="../../../../assets/img/anderson.jpg" style="padding-top: 10px;">
                <h1>Anderson Rocha</h1>
                <p class="title">Programador de rotas do site</p>
                <p>Escola Etec Adolpho Berezin</p>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twiter"></i></a>
                <a href="#"><i class="fa fa-dribble"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="column">
            <div class="card">
                <img src="../../../../assets/img/luiz.jpeg" style="padding-top: 10px;">
                <h1>Luiz Gustavo</h1>
                <p class="title">Programador do site e estilo</p>
                <p>Escola Etec Adolpho Berezin</p>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twiter"></i></a>
                <a href="#"><i class="fa fa-dribble"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>

</div>