<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <form>
                <label for="">Nome</label>
                <input type="text" class="form-control" name="nome" placeholder="Ex. José da Silva">
                <br>
                <label>Telefone:</label>
                <input type="text" class="form-control" name="telefone" placeholder="(13)981673100">
                <br>
                <label>Mensagem:</label>
                <textarea class="form-control"></textarea>
                <br>
                <button class="btn-success btn-lg">Enviar</button>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <label for="">Mapa</label>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1287.432402422326!2d-46.678878069698364!3d-24.122280151971783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce27e8f7751d31%3A0x6382eb95def97024!2sEtec%20Adolpho%20Berezin!5e0!3m2!1spt-BR!2sbr!4v1572373578334!5m2!1spt-BR!2sbr" width="600" height="460" frameborder="10" style="border-radius:10px;" allowfullscreen="" id="mapa"></iframe>
        </div>
    </div>
