<div class="jumbotron text-center">
    <h1>ProWeb Gamer</h1>
    <p>Nós somos um site de novidades de tudo que ocorre no mundo dos vídeo games</p>

</div>
<div class="container" style="border-radius: 5px; background-color: gray; width: 100%; margin-bottom: 20px">
    <div class="row">
        <div class="col-md-6" style="text-align: center">
            <img src="../../../../assets/img/diablo.jpg" alt="diablo" style="width: 90%">
        </div>

        <div class="col-md-6">
            <h2>Blizzcon 2019:A Blizzard anuncia a chegada de Diablo IV nas telas dos jogos</h2>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6" style="text-align: center">
            <img src="../../../../assets/img/ubisoft.jpg"  style="width: 90%">
        </div>

        <div class="col-md-6">
            <h2>Ubisoft já está desenvolvendo títulos para a nova geração</h2>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6" style="text-align: center">
            <img src="../../../../assets/img/pokemon.jpg" alt="pokemon"  style="width: 90%">
        </div>

        <div class="col-md-6">
            <h2>Pokémon GO recebe novo monstro lendário da quinta geração</h2>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6" style="text-align: center">
            <img src="../../../../assets/img/warface.jpg" alt="warface"  style="width: 90%">
        </div>

        <div class="col-md-6">
            <h2>Call of Duty: Modern Warfare é novo jogo da série com cross-play sem season pass</h2>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6" style="text-align: center">
            <img src="../../../../assets/img/mk.jpg" alt="mk"  style="width: 90%">
        </div>

        <div class="col-md-6">
            <h2>Mortal Kombat 11 revela lutadores do Pacote de Kombate</h2>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h1>Os melhores jogos do ano de 2019</h1>
            <video width="90%" controls>
                <source src="../../../../assets/videos/video.mp4" type="video/mp4">
            </video>
        </div>
    </div>

</div>